@using (Html.BeginForm("BlogAra", "Home", FormMethod.Post,new {enctype="mmultipart/form-data"}))
{
    <div class="widget">
        <form class="form-search">
            <input  id="Ara" class="form-control" name="Ara" value="Ara" type="text" placeholder="Search..">
        </form>
    </div>
}
